.CartButton {
    font-size: 20px;
    background-color: white;
    border: 0px solid white;
    position: absolute;
    float: right;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 40px;
    /* top: 30%;  */
    cursor: pointer;
}
