.App {
  text-align: center;
}

.main{
  z-index: 1;
  width: 100%;
  display: flex;
  /* position: absolute; */
  flex-direction: row;
}
@media(max-width: 500px){
  .main{
    flex-wrap: wrap;
  }
}

.cartItemCounter{
  right: 4.5%;
  top: 43%;
  position: relative;
  text-align: center;
  float: right;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}
@media(max-width: 500px){
  .cartItemCounter{
    right: 17%;
  }
}

.left{
  margin-top: 80px;
  position: relative;
  z-index: 2;
  width: 15vw;
  display: block;
}
@media(max-width: 500px){
  .left{
    width: 100%;
  }
}

.left-p{
  margin-top: 30px;
  font-size: 15px;
  font-family: sans-serif;
  color: #5D6D7E;
  text-align: center;
  display: block;
}

.size-container{
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  border-radius: 3px;
  z-index: 1;
}

@media(max-width: 500px){
  .size-container{
    width: 100%;
    flex-wrap: no-wrap;
  }
}

.right{ 
  margin-top: 80px;
  position: relative;
  width: 85vw;
  z-index: 2;
}

.item-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  z-index: 1;
}

@media(max-width: 500px){
  .item-container{
    width: 100%;
  }
}